/* Keyframe for fading in and moving */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #0a192f 0%, #172a45 100%);
  color: #ccd6f6;
  min-height: 100vh; /* Ensures full viewport height */
  position: fixed; /* Fixed positioning */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  width: 100%; /* Full width */
  z-index: 10; /* Ensure it's above other content */
  overflow: hidden;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.intro-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 550px; /* Larger size */
  height: 350px; /* Larger size */
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid #64ffda;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 1s ease-out;
}

.profile-image:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 8px 24px rgba(0, 0, 0, 0.3);
}

.intro-text {
  flex: 1;
  margin-left: 40px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the text */
  animation: fadeInUp 1s ease-out;
}

.intro-text h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.intro-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center; /* Center the text */
}

.social-links {
  display: flex;
  gap: 30px; /* Maintain existing gap */
  margin-top: 20px;
  align-items: center; /* Align icons vertically */
  animation: fadeInUp 1s ease-out 0.5s; /* Delayed animation */
}

.social-links a {
  color: #64ffda;
  font-size: 2.5rem;
  transition: color 0.3s;
  display: flex;
  align-items: center; /* Align icons vertically within their container */
}

.social-links a:hover {
  color: #e6f1ff;
}

.social-links .mail-icon {
  font-size: 2.5rem; /* Same size as other icons */
}

@media (max-width: 768px) {
  .intro {
    padding: 50px 20px;
    flex-direction: column;
  }

  .intro-container {
    flex-direction: column;
    text-align: center;
  }

  .intro-image-container {
    margin-bottom: 20px;
  }

  .intro-text {
    margin-left: 0;
  }
}
